/*--contact--*/

#contact{
	padding-top: 50px;
	padding-bottom: 200px;
}

.link{
	text-decoration: none;
	color: ##0D95D0;
	transition: 0.3s all;
}

.link:hover{
	text-decoration: underline;
	transition: 0.3s all;
	color: ##0D95D0;
}

.contact-icons{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	margin-left: -10px;
	width: 50px;
}

.contact{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contact-title{
	color: #404040;
	font-size: 30px;
	font-weight: 500;
}

.contact-body-subtitle{
	color: #bbb;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: inherit;
	font-weight: 300;
}

.contact-body{
	font-size: 18px;
	color: #404040;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 300;
}

.contact-hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #bbb;
	width: 100px;
	margin-left: 0;
}

/*--about--*/
#about{
	padding-top: 100px;
	padding-bottom: 50px;
}

.about-title{
	font-size: 30px;
	margin-top: -30px;
	color: #404040;
}

.about-subtitle{
	font-size: 16px;
	color: #bbb;
	font-weight: 300;
	padding-bottom: 0px;
}

.about{
	line-height: 30px;
	text-align: right;
	font-family: "Roboto", sans-serif;
	padding-bottom: 10px;
	padding-top: 10px;
}

.about-body{
	margin-top:-20px;
	font-size: 16px;
	color:#404040;
	font-weight: 300;
	padding-left: 100px;
}

.about-img{
	padding-top: 25%;
	position: relative;
}

.about-caption{
	font-size: 0.75em;
	position: relative;
	padding-top: 25px;
	text-align: right;
	padding-right: 37%;
	font-family: "Roboto", sans-serif;
}


.about-top{
	position: absolute;
	top:10px;
	left:30px;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out;
}

.about-bottom{
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-in-out;
}

img.about-top:hover{
	opacity: 1;
}

img.about-bottom:hover{
	opacity:0;
}

.about-hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #bbb;
	width: 100px;
	margin-right: 0;
}

@media screen and (max-width: 989px) {
	.about{
		text-align: left;
	}

	.about-hr{
		margin-left: 0;
		margin-right: 100%;
	}

	.about-body{
		padding-left: initial;
	}

	.about-img{
		padding-top: 0%;
		align-items: center;
		padding-left: 25%;
		padding-top: 20px;
	}

	.about-caption{
		width: 100%;
		text-align: center;
		padding-right: 0px;
		margin-right:0;'
	}
}



/*-- projects modal --*/

img{
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: initial;
}

.header {
	max-width: 99%;
}

img {
  vertical-align: middle;
	border: 0;
}


/*img.zoom-in:hover{
	cursor: zoom-in;
	transform: scale(1.5);
	transition: all .3s ease;
	outline:none;
	z-index:0;
}


img.zoom-in:focus{
	transform: scale(1.5);
	transition: all .3s ease;
	outline:none;
}*/


.portfolio-title{
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  text-align: center;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  color: #1B1B1B;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.portfolio-subtitle{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #333;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
}

.portfolio-body{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #676767;
  font-weight: 300;
  text-align: left;
  line-height: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.portfolio-list{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #676767;
  font-weight: 300;
  text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

.portfolio-ul{
	padding-top: 10px;
	padding-bottom: 30px;
}

ul b{
	color:#333;
}
.portfolio-img{
  max-width: 99%;
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 15px;
	vertical-align: middle;
}

.portfolio-em{
  color: #333;
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 25px;
}

.portfolio-caption{
	font-style: italic;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: #676767;
	text-align: left;
	padding-top: 10px;
	padding-bottom:0px;
	text-align: center;
}

.header-uken{
  background-image: url(../uken/Header.png);
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius:10px 10px 0px 0px;
  background-size: contain;
}

.header-pantry{
	background-image: url(../pantry/Header.png);
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	background-size:contain;
}

.header-hustle{
	background-image: url(../hustle/header.png);
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	background-size: contain;
}

.header-various{
	background-image: url(../various/header.png);
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	background-size:contain;
}


/* -- projects section --*/

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

a.btn:hover {
  background: #0D95D0;
  color: #fff;
	box-shadow: 0px 2px 10px #096F9B;
	/*transform: translateY(2px);*/
}

cs-style-2 figcaption{
	width:100%;

}

figcaption a {
	position: absolute;
	top: 30px;
	right: 20px;

}

a.btn, a.btn:visited {
    text-align: center;
    color: #0D95D0;
    border: 1px solid #0D95D0;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 0 auto;
    display: inline;
    font-size: 16px;
    transition: all 0.3s ease 0s;
    font-weight: 300;
		box-shadow: 0px 0px 0px #0D91d0;
}

.grid {
	padding: 0px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 500px;
	margin: 1px;
	padding: 0px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.no-touch .grid figure figcaption,
.cs-style-2 figure.cs-hover figcaption{
  transition: all 0.3s ease 0s;
}

.no-touch .grid figure:hover figcaption,
.cs-style-2 figure.cs-hover figcaption{
  opacity: 1;
  transition: all 0.4s;
}

.grid figcaption {
  position: absolute;
  top: 78%;
  left: 0;
  padding: 0px;
  opacity: 0;
  background: #fff;
  width: 100%
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption span {
  overflow: hidden;
	position: absolute;
  top: 0px;
	left: 0;
	padding: 15px;
	background: #fff;
	color: #999;
	font-family: "Roboto",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
  width: 100%

}

.grid figcaption a:hover{
  color: #fff;
}

ul.tags{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.tags li {
	display: inline;
	margin-right: 5px;
	padding: 5px 10px;
	border: 1px solid #979797;
	border-radius: 5px;
}

.grid figcaption h3 {
	margin: 0;
	padding: 10px 0px 0px 5px;
	font-family: "Montserrat",sans-serif;
	font-style: normal;
	font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
	font-size: 16px;
	color: #333;
}

.grid figcaption .description {
	font-size: 16px;
	padding: 5px 5px 0px 5px;
	color: #999;
}


/*-- intro section --*/

span {
  font-size: 20px;
  color: #bbb;
}

h1.intro-head {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #3A3A3A;
  font-weight: 300;
}

.intro-sub{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #bbb;
  font-weight: 300;
  font-style: normal;
}

/*-- nav bar --*/

.nav-default{
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  display: inline;
}


.nav-default-sidebar{
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  display: inline;
  padding-left: 50px;
}

.name {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
}

body {
	color; #fafafa;
/* changing the quote location, among other things */
  padding-top: 100px;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important
}

/* <---responsive rules---> */

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}

}

html {
  font-size: 100%;
  font-size: 62.5%;
}

/* <--preloader--> */

#preloader  {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fefefe;
     z-index: 99;
    height: 100%;
 }

#status  {
     width: 200px;
     height: 200px;
     position: absolute;
     left: 50%;
     top: 50%;
     background-image: url(/preloader.gif);
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;
 }
